<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
		
		<title>My Tech</title>
	</head>
	<body>
		<div class="website-container">
			<section class="home" id="home">
				<!-- Navbar Starts -->
					<nav class="main-navbar">
						<a href="#" class="logo">
							<img src="static/images/logo.png">
						</a>
						<ul class="nav-list">
							<li><a href="#home">Home</a></li>
							<li><a href="#cate">Categories</a></li>
							<li><a href="#ser">Services</a></li>
							<li><a href="#cour">Courses</a></li>
							<li><a href="#test">Testimonials</a></li>
						</ul>
						<form class="search-bar">
							<input type="search" placeholder="Search Your Course">
							<i class="fa-solid fa-search"></i>
						</form>
						<div class="menu-btn">
							<span></span>
						</div>
					</nav>
				<!-- Navbar Ends-->
				<!-- Banner Starts -->
				<div class="banner">
					<div class="banner-desc">
						<h2>Start Learning journey With My Tech Experts, Anywhere, Anytime</h2>
						<p>We are a team of professors and experts in the field of technology, We offer distance learning courses, 
							Our goal is to train you to access the labor market.</p>
						<a href="#" class="get-started-btn-container">
							<button class="get-started-btn btn">Get Started</button>
						</a>
					</div>
				</div>
				<!--  Banner Ends  -->
			</section>
			<!--  Home Section Ends   -->
			<section class="cate" id="cate">

				<!-- Categories Starts  -->
				<div class="cate-contents">
					
					<div class="cat-item">
						<div class="cat-icon">
							<i class="fa-solid fa-mobile-screen"></i>		
						</div>
						<div class="cat-desc">
							<h3>Mobile Apps Development</h3>
							<p>Our Website provides intuitive and unique experiences in application design and development.</p>
						</div>
					</div>
					<div class="cat-item">
						<div class="cat-icon">
							<i class="fa-solid fa-laptop-code"></i>
						</div>
						<div class="cat-desc">
							<h3>Website Design and Development</h3>
							<p>Our Website provides intuitive and unique experiences in Website design and development.</p>
						</div>
					</div>
					<div class="cat-item">
						<div class="cat-icon">
							<i class="fa-solid fa-microchip"></i>
						</div>
						<div class="cat-desc">
							<h3>Artificial Intelligence AI</h3>
							<p>Our Website provides training courses in artificial intelligence education.</p>
						</div>
					</div>
					<div class="cat-item">
						<div class="cat-icon">
							<i class="fa-solid fa-shop"></i>
						</div>
						<div class="cat-desc">
							<h3>E-commerce</h3>
							<p>Our Website provides training courses in e-commerce education.</p>
						</div>
					</div>
				</div>
			</section>
			<!--  Categories Ends   -->
			<section class="ser" id="ser">
				<!--  Services Header Starts  -->
				<header class="section-header">
					<h1>Why My Tech</h1>
				</header>
				<!-- Services Header Ends -->
				<!-- Services Contents Starts   -->
				<div class="ser-contents">
					<div class="serv-box">
						<div class="serv-icon">
							<i class="fa-solid fa-users"></i>
						</div>
						<div class="serv-desc">
							<h2>Expert Teachers</h2>
							<p>We provide you with teachers and specialists of high experience lessons in the field of technology.</p>
						</div>
					</div>
					<div class="serv-box">
						<div class="serv-icon">
							<i class="fa-solid fa-calendar"></i>
						</div>
						<div class="serv-desc">
							<h2>consultation 24/7</h2>
							<p>You will find advice and information twenty four hours a week.</p>
						</div>
					</div>
					<div class="serv-box">
						<div class="serv-icon">
							
							<i class="fa-solid fa-clock"></i>
						</div>
						<div class="serv-desc">
							<h2>Timing</h2>
							<p>Choose the right time for you to start teaching with us.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Services Ends -->
			<section class="cour" id="cour">
				<!--  Courses Header Starts   -->
				<header class="section-header">
					<div class="header-text">
						<h1>Courses</h1>
						
					</div>
					<button class="cour-btn btn">View All</button>
				</header>
				<!--  Courses Header Ends  -->
				<!--  Courses Contents Starts  -->
				<div class="cou-contents">
					
					<div class="cou-card">
						<img src="https://tinyurl.com/y6vrumbb">
						<div class="category">
							<div class="subject"><h3>Development</h3></div>
							<img src="https://tinyurl.com/y6vrumbb">
						</div>
						<h2 class="cou-title">Mobile Apps Development</h2>
						<div class="cou-desc">
							<span><i class="fa-solid fa-video"></i> 72 Videos</span>
							<span><i class="fa-solid fa-users"></i> 4512+ Students</span>
						</div>
						<div class="cou-ratings">
							<span>4.9 <i class="fa-solid fa-star"></i></span>
							<span><b>$</b>100.00</span>
						</div>
					</div>
					<div class="cou-card">
						<img src="https://tinyurl.com/35tct7wf">
						<div class="category">
							<div class="subject"><h3>Development</h3></div>
							<img src="https://tinyurl.com/35tct7wf">
						</div>
						<h2 class="cou-title">Website Design and Development</h2>
						<div class="cou-desc">
							<span><i class="fa-solid fa-video"></i> 56 Videos</span>
							<span><i class="fa-solid fa-users"></i> 3456+ Students</span>
						</div>
						<div class="cou-ratings">
							<span>5.0 <i class="fa-solid fa-star"></i></span>
							<span><b>$</b>100.00</span>
						</div>
					</div>
					<div class="cou-card">
						<img src="https://tinyurl.com/2s49vnn8">
						<div class="category">
							<div class="subject"><h3>training</h3></div>
							<img src="https://tinyurl.com/2s49vnn8">
						</div>
						<h2 class="cou-title">Artificial Intelligence AI</h2>
						<div class="cou-desc">
							<span><i class="fa-solid fa-video"></i> 52 Videos</span>
							<span><i class="fa-solid fa-users"></i> 4568+ Students</span>
						</div>
						<div class="cou-ratings">
							<span>4.9 <i class="fa-solid fa-star"></i></span>
							<span><b>$</b>100.00</span>
						</div>
					</div>
					<div class="cou-card">
						<img src="https://tinyurl.com/29cpnmux">
						<div class="category">
							<div class="subject"><h3>training</h3></div>
							<img src="https://tinyurl.com/29cpnmux">
						</div>
						<h2 class="cou-title">E-commers</h2>
						<div class="cou-desc">
							<span><i class="fa-solid fa-video"></i> 32 Videos</span>
							<span><i class="fa-solid fa-users"></i> 270+ Students</span>
						</div>
						<div class="cou-ratings">
							<span>4.5 <i class="fa-solid fa-star"></i></span>
							<span><b>$</b>100.00</span>
						</div>
					</div>
				</div>
			</section>
			<!-- Courses Ends -->
			<!-- Partners Starts   -->
			<section class="part">
				<h3>Our partners</h3>
				<div class="owl-carousel owl-theme partners-slider">

					<div class="item brand-item">
						<img src="https://tinyurl.com/5c76xxd5">
					</div>
					<div class="item brand-item">
						<img src="https://tinyurl.com/4483m96b">
					</div>
					<div class="item brand-item">
						<img src="https://tinyurl.com/2aumruhb">
					</div>
					<div class="item brand-item">
						<img src="https://tinyurl.com/bs7w6d84">
					</div>
					<div class="item brand-item">
						<img src="https://tinyurl.com/2n9pd7nh">
					</div>
					<div class="item brand-item">
						<img src="https://tinyurl.com/2jr6rnx2">
					</div>

				</div>
			</section>
			<!--  Partners Ends  -->
			<!-- Testimonials Starts   -->
			<section class="test" id="test">
				<header class="section-header">
					<h1>Testimonials</h1>
				</header>
				<div class="owl-carousel owl-theme testimonials-slider">

					<div class="item test-item">
						<div class="profile">
							<div class="profile-image">
								<img src="https://tinyurl.com/34dc8am2">
							</div>
							<div class="profile-desc">
								<span>Laila Sbir</span>
								
							</div>
						</div>
						<p> I would like to thank the teachers for the support and encouragement you gave me 
							throughout my learning period with you. 
							We advise you, and I am grateful for everything you do to help us achieve success.</p>
	
						<div class="ratings">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>

					<div class="item test-item">
						<div class="profile">
							<div class="profile-image">
								<img src="https://tinyurl.com/3saysmde">
							</div>
							<div class="profile-desc">
								<span>Amine Najah</span>
							</div>
						</div>
						<p>I'm glad I had a great experience. I was able to expand my 
							knowledge, gain useful work experience and develop my professional 
							relationship. In addition, this training gave me great experience in the field of website development. 
							It is a great opportunity for me to grow professionally. I thank my tech for the efforts made.</p>
						<div class="ratings">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>

					<div class="item test-item">
						<div class="profile">
							<div class="profile-image">
								<img src="https://tinyurl.com/22xs22b4">
							</div>
							<div class="profile-desc">
								<span>salma ridoan</span>

							</div>
						</div>
						<p>I would like to take this opportunity to thank my tech for the efforts 
							made with us. It is truly an amazing course. We learned and benefited
							a lot from the lectures as well as the educational lessons provided to prepare us for the job market.
							I particularly liked the way complex concepts were explained in a clear
							and concise way, which made the lessons easy to understand. Thank you again.</p>
						<div class="ratings">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>

					<div class="item test-item">
						<div class="profile">
							<div class="profile-image">
								<img src="https://tinyurl.com/4scvbb5p">
							</div>
							<div class="profile-desc">
								<span>albirt stiven</span>
							</div>
						</div>
						<p>I am a student enrolled in the course and majoring in Application Development. 
							I trained through my tech, and it proved to be a great growth opportunity 
							for me and my colleagues. During this training, we learned everything related 
							to programming and valuable experience in application development.
							In addition we have been able to develop new abilities that are incredibly useful for our careers. Thanks my thech .</p>
						<div class="ratings">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>

					<div class="item test-item">
						<div class="profile">
							<div class="profile-image">
								<img src="https://tinyurl.com/yeyuw3rk">
							</div>
							<div class="profile-desc">
								<span>Ali nasiri</span>
							</div>
						</div>
						<p>Firstly I really appreciate the time you spent during the course. Since my beginning with you, I would like to share my observations as follows.
							First, I would like to say that my tech is the greatest educational platform in which I have learned because it has good treatment and experts in the field, as well as support and guidance at any time, also a suitable time for all students.
							I have learned a lot and I am happy to study with you and I wish you all the best. Once again, I really want to thank you very much. my regards
							.</p>
						<div class="ratings">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
					</div>
					

				</div>
				<!-- Testimonials Ends  -->
				<div class="banner-img">
					<div class="banner-img-container">	
						<div class="states">
							<div class="total-courses">
								<div class="icon">
									<i class="fa-solid fa-book"></i>
								</div>
								<div class="desc">
									<span>1620+</span>
									<span>Total Courses</span>
								</div>
							</div>
				
							<div class="courses-ratings">
								<span>4.9<i class="fa-solid fa-star"></i></span>
								<span>Ratings (58k)</span>
							</div>
						</div>
				
					</div>
				</div>
			</section>
			<!--   *** Testimonials Section Ends ***   -->

			<!--   *** Footer Section Starts ***   -->
				<section class="footer" id="footer">
					
					<!--  Footer Contents Starts -->
					<div class="footer-contents">
						
						<div class="footer-col footer-col-1">
							<div class="col-title">
								<img src="static/images/logo.png">
							</div>

						</div>

						<div class="footer-col footer-col-2">
							<div class="col-title">
								<h3>Contact</h3>
							</div>
							<div class="col-contents">
								<div class="contact-row">
									<span>Address</span>
									<span>56 Street, Hay Essalam, Casa</span>
								</div>
								<div class="contact-row">
									<span>Phone</span>
									<span>+212 612457854</span>
								</div>
								<div class="contact-row">
									<span>Website</span>
									<span>My Tech.com</span>
								</div>
								<div class="contact-row">
									<span>Email</span>
									<span>mytech@gmail.com</span>
								</div>
							</div>
						</div>

						<div class="footer-col footer-col-3">
							<div class="col-title">
								<h3> Links</h3>
							</div>
							<div class="col-contents">
								<a href="#">Home</a>
								<a href="#">Services</a>
								<a href="#">Courses</a>
								<a href="#">Categories</a>
								<a href="#">Testimonials</a>
							</div>
						</div>

						<div class="footer-col footer-col-4">
							<div class="col-title">
								<h3>Our News</h3>
							</div>
							<div class="col-contents">
								<form class="newsletter">
									<input type="email" placeholder="Your Email">
									<button class="newsletter-btn btn" type="submit">Subscribe</button>
								</form>
							</div>
						</div>

					</div>
					<!--   === Footer Contents Ends-->
					<div class="copy-rights">
						<p>Copyright &copy; 2024 All rights reserved | Made by <b><a href="https://mhjba.com" target="_blank">mhjba</a></b></p>
					</div>
				</section>
			<!-- Footer section Ends -->
		</div>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
			<script type="text/javascript" src="static/script.js"></script>
	</body>
</html>

